
<h2>Employees</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


@Ajax.ActionLink("All", "All", new AjaxOptions()
{
HttpMethod = "GET",
UpdateTargetId = "std",
InsertionMode = InsertionMode.Replace
} )

<span style="color:aqua">|</span>

@Ajax.ActionLink("Top 3", "Top3", new AjaxOptions()
{
HttpMethod = "GET",
UpdateTargetId = "std",
InsertionMode = InsertionMode.Replace
} )


<span style="color:aqua">|</span>

@Ajax.ActionLink("Bottom 3", "Bottom3", new AjaxOptions()
{
HttpMethod = "GET",
UpdateTargetId = "std",
InsertionMode = InsertionMode.Replace
} )

<div id="std"></div>

